body {
    background-color: #111;
    color: #CCC;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0 0 4vh;
}

body.no-transitions * {
    transition: none !important;
}

div.container {
    padding: 1vh 6vw;
}

img#cover {
    opacity: 50%;
    padding: none;
    margin: none;
    width: 100vw;
    height: 20vh;
    object-fit: cover;
}

header {
    font-size: 10vw;
    color: #DDD;
    font-family: 'Roboto Slab', sans-serif;
    letter-spacing: 0.04em;
}

main {
    font-size: 3.2vw;
    text-align: justify;
}

footer {
    font-size: 4vw;
    position: absolute;
    bottom: 8%;
}

p {
    margin-bottom: -0.5em;
}

a {
    color: #B84A4A;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.2s;
}

a:hover {
    color: #CE5E5E;
}

a.footer-link {
    margin-left: 5vw;
    color: #555;
    transition-duration: 0.3s;
}

a.footer-link:hover {
    color: #B84A4A;
}

a.footer-link:first-child {
    margin-left: 0;
}

@media (max-width: 500px) {
    header {
        font-size: 50px;
    }

    main {
        font-size: 16px;
    }

    footer {
        font-size: 20px;
    }
}

@media (min-width: 1000px) {
    header {
        font-size: 100px;
    }

    main {
        font-size: 32px;
    }

    footer {
        font-size: 40px;
    }
}

.highlight {
    border-radius: 5%;
    background-color: #EEE;
    color: #111;
}
